/*Estilos temporales para pruebas*/
*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body
{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Estilos del formulario*/
.formulario
{
	width: 40%;
	padding:20px 10px 20px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.formulario form
{
	width: 100%;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.formulario form *
{
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;
}
/*Estilos inicio*/
.inicio
{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.inicio img
{
	/*width: 100%;*/
	height: 150vh;
	position: fixed;
	z-index: -1000;
	filter: grayscale(100%);
}
.content
{
	position: relative;
	z-index: 1000;
	width: : 100%;
	font-family: Barrio;
	font-size: 24px;
	color: white;
}
.content form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.content form input[type="mail"], .content form input[type="password"]
{
	padding: 10px 20px;
	margin: 10px;
	border-radius: 50px;
	border-color: black;
	transition: ease;
	outline: 0px; /*Borde azul de los input seleccionados*/
}
.content input[type=submit]
{
	padding: 10px 20px;
	margin: 10px;
	background-color: RoyalBlue;
	border: 2px solid white;
	border-radius: 50px;
	color: white;
	outline: 0px;
}
.contRegistro
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contRegistro a
{
	font-style: none;
	text-decoration: none;
	color: white;
	font-size: 19px;
	font-family: Helvetica;
}
/*Estilos cargando*/
#cargando
{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: white;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#cargando img
{
	max-height: 100px;
	transform: rotate(0deg);
	animation-name: rotar;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes rotar
{
	from {transform: rotate(0deg);}
	to {transform: rotate(180deg);}
}
/*Estilo seleccion de registro*/
.content2
{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
}
.content2 .info, .content2 .opciones
{
	height: 50vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Barrio;
}
.content2 .opciones
{
	border-left: solid gray 2px;
	display: flex;
	justify-content: space-around;
}
.content2 .opciones button
{
	padding: 10px;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border-color: none;
	border:none;
	background-color: #45BF55;
	color: white;
	font-family: Arial;
	font-size: 17px;
	font-style: bold;
	outline: none;
}
.content2 .info
{
	display: flex;
	flex-direction: column;
}
.content2 .opcionesRegistro
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 200px;
	margin-top: 20px; 
}
.activo
{
	position: absolute;
	z-index: 1000;
}
.oculto
{
	display: none;
}